.blog-post-card {
  display: flex;
  gap: 2.5rem;
}

.blog-post-date-col {
  margin-top: 0.75rem;
  width: 252px;
  min-width: 300px;
}

.blog-post-date {
  display: flex;
  align-items: center;
  gap: 0.75rem
}
