.blog-post-card {
  display: flex;
  gap: 2.5rem;
}

.blog-post-card__info {
  margin-top: 0.75rem;
  width: 252px;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog-post-card__date {
  display: flex;
  align-items: center;
  gap: 0.75rem
}

.blog-post-card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
