.posts-page {
  padding: 80px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.posts-page__header {
  max-width: 768px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.posts-page__content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
